---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - History";
---

<BaseLayout title={title}>
  <div class="">
    <section class="intro">
      <h1> BAR & RADIO</h1>
      <p>14 RUE RONDELET, MONTPELLIER (FR)
      </p>
      <img src="../images/photo2.png" alt="">
    </section>
    <section class="mwg_effect029">
			<div class="wrap">
				<p class="paragraph">En plus d'une plateforme en ligne, Piñata Radio est un lieu ouvert au public. Du mardi au samedi, retrouvez la programmation en direct depuis le 14 rue rondelet à Montpellier, avec une offre de bar et de petite restauration.</p>
				<div class="sticky">
					<img src="../images/photo.png" alt="">
				</div>
			</div>
		</section>
  </div>
</BaseLayout>

<script src="../scripts/history.js"></script>