---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - History";
---

<BaseLayout title={title}>
  <div class="">
    <section class="intro">
      <h1> BAR & RADIO</h1>
      <p>14 RUE RONDELET, MONTPELLIER (FR)
      </p>
      <img src="../images/photo2.png" alt="">
    </section>
    
    <section class="section-container">
      <h1 class="heading">Programmation</h1>
      <p>
        Recreation of
        <a href="https://nextjs.org/conf/schedule">Next.js</a> conference
        schedule.
      </p>
    </section>
    <hr class="divider" />
    <div class="schedule-container">
      <div class="schedule-stage__wrapper">
        <section class="schedule-stage">
          <div class="schedule-stage__title">
            <h3>Tuesday</h3>
          </div>
          <div class="schedule-stage_guide-container">
            <div class="guide-slot">
              <p>4:00pm - 6:00pm</p>
              <div class="guide-slot_card">
                <h4>Kermitalk avec Lorkestra</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>6:00pm - 8:00pm</p>
              <div class="guide-slot_card">
                <h4>MAWIMBI présente radio MAWINBI (100% Vyniles)</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>8:00pm - 10:00pm</p>
              <div class="guide-slot_card">
                <h4>KBAN</h4>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider" />
        <section class="schedule-stage">
          <div class="schedule-stage__title">
            <h3>Wednesday</h3>
          </div>
          <div class="schedule-stage_guide-container">
            <div class="guide-slot">
              <p>2:00pm - 3:00pm</p>
              <div class="guide-slot_card">
                <h4>Sea of Sentiments soundscape</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>4:00pm - 6:00pm</p>
              <div class="guide-slot_card">
                <h4>Chill N' Heal avec Sly Telema</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>6:00pm - 7:00pm</p>
              <div class="guide-slot_card">
                <h4>LW2 invite K-WAI</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>7:00pm - 9:00pm</p>
              <div class="guide-slot_card">
                <h4>Pura Pura & OG Maxwell (Montpellier)</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>9:00pm - 11:00pm</p>
              <div class="guide-slot_card">
                <h4>Drama invite Lukro (Radiafusion)</h4>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider" />
        <section class="schedule-stage">
          <div class="schedule-stage__title">
            <h3>Thursday</h3>
          </div>
          <div class="schedule-stage_guide-container">
            <div class="guide-slot">
              <p>2:00pm - 3:30pm</p>
              <div class="guide-slot_card">
                <h4>Tudo Bom: Tiño invite DJ LOV3 (Paris)</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>4:00pm - 6:00pm</p>
              <div class="guide-slot_card">
                <h4>Le Discopathe avec Wayo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>6:00pm - 8:00pm</p>
              <div class="guide-slot_card">
                <h4>Baume invite hOme Town w/ Ferpo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>8:00pm - 10:00pm</p>
              <div class="guide-slot_card">
                <h4>Cardozo invite Yanka</h4>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider" />
        <section class="schedule-stage">
          <div class="schedule-stage__title">
            <h3>Friday</h3>
          </div>
          <div class="schedule-stage_guide-container">
            <div class="guide-slot">
              <p>2:00pm - 3:30pm</p>
              <div class="guide-slot_card">
                <h4>Tudo Bom: Tiño invite DJ LOV3 (Paris)</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>4:00pm - 6:00pm</p>
              <div class="guide-slot_card">
                <h4>Le Discopathe avec Wayo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>6:00pm - 8:00pm</p>
              <div class="guide-slot_card">
                <h4>Baume invite hOme Town w/ Ferpo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>8:00pm - 10:00pm</p>
              <div class="guide-slot_card">
                <h4>Cardozo invite Yanka</h4>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider" />
        <section class="schedule-stage">
          <div class="schedule-stage__title">
            <h3>Saturday</h3>
          </div>
          <div class="schedule-stage_guide-container">
            <div class="guide-slot">
              <p>2:00pm - 3:30pm</p>
              <div class="guide-slot_card">
                <h4>Tudo Bom: Tiño invite DJ LOV3 (Paris)</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>4:00pm - 6:00pm</p>
              <div class="guide-slot_card">
                <h4>Le Discopathe avec Wayo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>6:00pm - 8:00pm</p>
              <div class="guide-slot_card">
                <h4>Baume invite hOme Town w/ Ferpo</h4>
              </div>
            </div>
            <div class="guide-slot">
              <p>8:00pm - 10:00pm</p>
              <div class="guide-slot_card">
                <h4>Cardozo invite Yanka</h4>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider" />
      </div>
    </div>

    <section class="mwg_effect029">
			<div class="wrap">
				<p class="paragraph">En plus d'une plateforme en ligne, Piñata Radio est un lieu ouvert au public. Du mardi au samedi, retrouvez la programmation en direct depuis le 14 rue rondelet à Montpellier, avec une offre de bar et de petite restauration. Fermé le lundi et le dimanche</p>
				<div class="sticky">
					<img src="../images/photo.jpg" alt="">
				</div>
			</div>
		</section>
  </div>
</BaseLayout>

<script src="../scripts/history.js"></script>
<script src="../scripts/plugin.js"></script>
